.large_button{
    width: 150px;
    height: 30px;
}
.large_input{
    width: 300px;
    height: 20px;
}
.small_input{
    width: 50px;
    height: 20px;
}
.fit_div{
    max-width:100%;
    max-height:100%;
}

#wechat_scene{
    width:100%;
}
#wechat_map{
    width:100%;
}

.dot {
  height: 30px;
  width: 30px;
  background-color: #f00;
  border-radius: 50%;
  display: block;
  position: absolute;
}

.steer{
    height: 150px;
    width: 150px;
    background-color: #bbb;
    border-radius: 50%;
    display: block;
}

